body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 1em;
    border-bottom: 5px solid #005f99;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 2em;
}

section > div {
    margin-top: 1em;
}

button {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f99;
}

#game, #quiz {
    margin-bottom: 20px;
}

#quiz-try-again-button, #try-again-button {
    display: block;
    margin: 20px auto;
}

#game button, #quiz button {
    margin: 5px;
    background-color: #4caf50;
    color: white;
}

#game button:hover, #quiz button:hover {
    background-color: #388e3c;
}